.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background-image: url('./Background1.png');
    background-size: cover;
    background-position: center;
    transition: transform 1.5s ease-in-out;
}

.background.zoom {
    transform: translate(100%, 100%) scale(100);
    transform-origin: right center;
}

.left-laptop {
    position: absolute;
    top: 21vh;
    right: 48vh;
}

.right-laptop {
    position: absolute;
    bottom: 23vh;
    left: 48vh;
    max-width: 61vh;
}
/* src/LoginPage/BackGround.css */
.background {
    transition: transform 1s ease-in-out;
}

.background.zoom {
    transform: scale(1.2);
}